@use "../utilities/variables" as *;

#experiencia {
    padding-bottom: 176px;

    .fecha {
        font-family: $fuente-terciario;
    }

    .avion {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}