/* COLORES */
$color-primario : #8053ea;
$color-secundario : #eeeafd;
$color-terciario : #4b0082;

/* FUENTES */
$fuente-primario : "Roboto",
sans-serif;
$fuente-secundario : "Poppins",
sans-serif;
$fuente-terciario : "Space Grotesk",
sans-serif;

$mayusculas : uppercase;